<!doctype html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}{{ title }}{% end %}</title>
    {% block head_assets %}{% end %} {% block extra_head %}{% end %}
  </head>
  <body class="{% block body_class %}{% end %}">
    {% block flash %}{% end %} {% block content %}{% end %}
    <script src="{{ static_url('dist/bootstrap-5.3.8-dist/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ static_url('js/base.js') }}"></script>
    {% block extra_js %}{% end %}
  </body>
</html>
